{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/doctor_profile.css' %}" />

<section id="doc-profile" class="doc-profile container"></section>

<div id="imgModal" class="img-modal">
    <span class="close">&times;</span>
    <img class="img-modal-content" id="modalImg" />
</div>

<div class="sticky-cta">
    <div class="hotline">Hỗ trợ đặt khám <strong>1900-2805</strong></div>
    <a id="cta-booking" href="#" class="btn btn-primary">ĐẶT KHÁM NGAY</a>
</div>

<script>
    window.isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
</script>

<script src="{% static 'js/doctor_profile.js' %}"></script>
{% endblock %}
