# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
staticfiles/
*.pot
*.pyc

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env
