{% load static %}
<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}MediBook{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}?v=7" />
    </head>
    <body>
        <!-- HEADER -->
        <header class="site-header">
            <div class="nav-wrap">
                <!-- Logo -->
                <div class="nav-brand">
                    <a href="/" class="nav-logo">Medi<span>Book</span></a>
                </div>

                <!-- Menu -->
                <nav class="nav-links">
                    <a class="nav-item {% if request.path == '/appointments/' %}active{% endif %}" href="{% url 'appointments:appointment' %}"
                        >Đặt khám</a
                    >
                    <a class="nav-item {% if request.path == '/consult/' %}active{% endif %}" href="#consult">Tư vấn trực tuyến</a>
                    <a class="nav-item {% if request.path == '/health-news/' %}active{% endif %}" href="#health-news">Tin Y tế</a>
                    <a class="nav-item {% if request.path == '/assistant/' %}active{% endif %}" href="#about">Giới thiệu</a>
                    <a class="nav-item {% if request.path == '/doctorworkspace/' %}active{% endif %}" href="#contact">Liên hệ</a>
                </nav>

                <!-- User Profile -->
                <div class="nav-cta">
                    <div id="user-avatar" class="avatar-container" style="display: none">
                        <img src="" alt="User Avatar" class="user-avatar" />
                        <div id="avatar-dropdown" class="dropdown-content">
                            <a href="#" id="profileLink">Hồ sơ</a>
                            <a href="#" id="logoutLink">Đăng xuất</a>
                        </div>
                    </div>

                    <div id="guest-buttons">
                        <a href="{% url 'accounts:login' %}?action=login" class="btn-outline">Đăng nhập</a>
                        <a href="{% url 'accounts:login' %}?action=register" class="btn-solid">Đăng ký</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN -->
        <main>{% block content %}{% endblock %}</main>

        <!-- FOOTER -->
        <footer class="site-footer">
            <section class="footer-main">
                <div class="container">
                    <div class="footer-col">
                        <h4>CÔNG TY TNHH MEDIBOOK VIỆT NAM</h4>
                        <p>Địa chỉ: 42 Nguyễn Lương Bằng, Hòa Khánh Bắc, Đà Nẵng</p>
                        <p>Hotline: 1900-2805 (8:00 - 17:30 T2 - T7)</p>
                        <p>Số ĐKKD: 036363636</p>
                    </div>

                    <div class="footer-col">
                        <h4>Về MediBook</h4>
                        <a href="#">Giới thiệu</a>
                        <a href="#">Ban điều hành</a>
                        <a href="#">Tuyển dụng</a>
                        <a href="#">Liên hệ</a>
                    </div>

                    <div class="footer-col">
                        <h4>Dịch vụ</h4>
                        <a href="#">Đặt khám Bác sĩ</a>
                        <a href="#">Đặt khám Bệnh viện</a>
                        <a href="#">Đặt khám Phòng khám</a>
                        <a href="#">MediBook Clinic</a>
                    </div>

                    <div class="footer-col">
                        <h4>Hỗ trợ</h4>
                        <a href="#">Điều khoản sử dụng</a>
                        <a href="#">Chính sách bảo mật</a>
                        <a href="#">Chính sách giải quyết khiếu nại</a>
                        <a href="mailto:cskh@medibook.vn">Hỗ trợ khách hàng</a>
                    </div>
                </div>
            </section>

            <div class="footer-bottom">
                <p>&copy; 2025 Công ty TNHH MediBook Việt Nam. All rights reserved.</p>
            </div>
        </footer>

        <script src="{% static 'js/home.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/auth.js' %}"></script>
    </body>
</html>
